.productList {
    .card:hover img {
        transform: scale(1.2);
        transition: .6s;
    }
    .pic {
        overflow: hidden;
    }
    button:focus {
        box-shadow: none!important;
    }
    @include lg {
        h3{
            font-size: 20px;
        }
    }
}



.page {
    li:first-child {
        text-decoration: underline;
    }
    .unselected {
        color: #000;
        &:hover {
            color: #AC8A46;
        }
    }
}

