.userItem,
.userItemActive {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        bottom: 5px;
        height: 2px;
        background-color: #916000;
    }
}

.userItem {
    &::after {
        right: 50%;
        left: 50%;
    }
    &:hover::after {
        right: 0;
        left: 0;
        transition: .5s;
    }
}

.userItemActive::after {
    right: 0;
    left: 0;
}