.banner {
    height: 870px;
    background: url("../../source/img/banner.png") no-repeat center center/cover;
    .row {
        height: 870px;
    }
    h2 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.5rem;
    }
    a {
        color: #fff;
        font-size: 1.75rem;
        padding: 10px 100px;
        border: 2px #fff solid;
        &:hover {
            background-color: rgba(255, 255, 255, .3);
            transition: .3s;
        }
    }
}

@include md {
    .banner {
        height: 480px;
        background: url("../../source/img/banner-md.png") no-repeat center top/cover;
        .row {
            height: 480px;
        }
        h2 {
            font-size: 2rem;
        }
        p {
            font-size: 1.25rem;
        }
        a {
            font-size: 1.5rem;
        }
    }
}

.info {
    h3 {
        font-size: 2rem;
    }
    p {
        font-size: 1.25rem;
    }
    .detail {
        font-size: 1rem;
    }
}

@include md {
    .info {
        h3 {
            font-size: 1.75rem;
        }
        p {
            font-size: 18px;
        }
    }
}

.onlineBtn {
    font-size: 1.25rem;
    border: 2px #000 solid;
    &:hover {
        background-color: rgba(0, 0, 0, .06);
        transition: .4s;
    }
}

.pic {
    position: relative;
}

.mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
}

@include md {
    .subscribe h2 {
        font-size: 1.75rem;
    }
}